html {
  padding: 0;
  margin: 0; }

.brand {
  color: black;
  font-weight: bold;
  text-transform: uppercase; }
  .brand .funky {
    color: #fd0300;
    margin: 0 1px; }

body {
  max-width: 1200px;
  min-width: 1048px;
  margin: 1em auto;
  background: #fdf6e3;
  color: #657b83;
  font-family: sans-serif; }

header {
  font-size: 2em; }
  header h1, header h2 {
    margin: 0; }

a {
  color: #b58900; }
  a img {
    border: none; }
a.share-links img {
  vertical-align: middle; }

#share {
  visibility: hidden; }

form {
  margin: 0;
  padding: 0 1em; }
  form input[type=url] {
    border: 1px solid black;
      border-radius: 0.5em;
    font-family: monospace;
    font-size: 1.5em;
    width: 100%;
    padding: 0.5em 0.25em; }
  form #checks-block {
    margin-top: 5px; }
    form #checks-block label {
      margin-right: 10px; }

iframe {
  background: white; }

#forkme {
  position: absolute;
  top: 0;
  right: 0; }

.iphone {
  margin: 1em auto; }
  .iphone.portrait {
    width: 380px;
    height: 744px;
    background: url(images/iPhone-portrait.png) no-repeat left top;
    position: relative; }
    .iphone.portrait iframe {
      position: absolute;
      top: 133px;
      left: 32px;
      width: 335px;
      height: 480px;
      overflow-x: hidden;
      border: none; }
  .iphone.landscape {
    height: 380px;
    width: 744px;
    background: url(images/iPhone-landscape.png) no-repeat left top;
    position: relative; }
    .iphone.landscape iframe {
      position: absolute;
      left: 133px;
      top: 28px;
      height: 320px;
      width: 495px;
      overflow-x: hidden;
      border: none; }

.ipad {
  margin: 1em auto; }
  .ipad.portrait {
    width: 997px;
    height: 1276px;
    background: url(images/iPad-portrait.png) no-repeat left top;
    position: relative; }
    .ipad.portrait iframe {
      position: absolute;
      top: 127px;
      left: 115px;
      width: 768px;
      height: 1024px;
      overflow-x: hidden;
      border: none; }
  .ipad.landscape {
    height: 997px;
    width: 1276px;
    background: url(images/iPad-landscape.png) no-repeat left top;
    position: relative; }
    .ipad.landscape iframe {
      position: absolute;
      left: 127px;
      top: 115px;
      height: 768px;
      width: 1024px;
      overflow-x: hidden;
      border: none; }
